@import "tailwindcss";

@theme {
  @keyframes moveUpDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
  }
  --animate-scroll-down: moveUpDown 2s ease-in-out infinite;
}